:root {
    --p-color: var(--c-13, rgba(82, 82, 82, 1));
    --head-color: var(--c-13, #141414);
    --p-details: var(--c-12, rgba(20, 20, 20, 1));
    font-size: 64.5%;
}

body {
    margin: 0;
    padding: 0;
}

header {
    max-width: 980px;
    margin: 0 auto;
}

nav {
    display: flex;
    place-items: center;
    place-content: space-between;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    color: var(--head-color);
}

#logo-typography {
    font-size: 3.2rem;
}

p {
    font-family: 'Fira Sans', sans-serif;
    color: var(--p-color);
}

.navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.links {
    list-style: none;
    text-align: end;
    cursor: pointer;
}

.links:nth-last-child(3) {
    margin-right: -.9rem;
}

.links:nth-last-child(2) {
    margin-right: -1rem;
}

.links a {
    margin-right: 1.6rem;
    text-decoration: none;
    font-family: 'Fira Sans';
    font-size: 1.6rem;
    color: var(--p-color);
}

.container {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 8rem;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 5rem;
    place-items: center;
}

.about #photo {
    width: 70%;
    height: 100%;
    margin-left: -100px;
}

.about ul h2 {
    font-size: 5.5rem;
    width: 10ch;
}

.about li {
    list-style: none;
    width: 40ch;
    font-size: 2rem;
    font-family: 'Fira Sans';
    padding-bottom: 1.8rem;
    color: var(--p-color);
}

.about li:nth-last-child(2) {
    margin-top: -2.5rem;
}

.about #decoration {
    width: 500px;
    margin-bottom: -30px;
}